header {
  position: fixed;
  text-align: center;
  width: 560px;
}

section {
  top: 50px;
  display: block;  
  margin: center;

}

.logo {
  width: 120px;
  padding: 10px;
}

main {
  padding: 370px 18px 10px;
}

article {
  display: flex;;
}

.thumb {
  height: 70px;
}